{% extends "base.html" %}

{% block content %}

<style>
  
</style>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Races</h3>

    <a href="{% url 'race-add' %}" class="btn btn-dark">
        Create Race
    </a>
</div>
<form method="get" class="row g-2 mb-3">

    <div class="col-md-4">
        <select name="league" class="form-select" onchange="this.form.submit()">
            <option value="all">All leagues</option>
            {% for l in leagues %}
                <option value="{{ l.id }}"
                    {% if selected_league == l.id|stringformat:"s" %}selected{% endif %}>
                    {{ l.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <select name="status" class="form-select" onchange="this.form.submit()">
            <option value="all">All statuses</option>

            {% for value, label in races.model.RaceStatus.choices %}
                <option value="{{ value }}"
                    {% if selected_status == value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>

</form>


    <div class="d-flex flex-column" style="height: calc(100vh - 220px);">
    <div class="flex-grow-1 overflow-auto">
            {% for race in races %}
                
                    <div class="card mb-1">
                        <div class="card-body">
                            <h6 class="card-title"><div >League: {{ race.league|default:"—" }} </div> <div >Date: {{ race.event.start_datetime }}</div></h6>
                            <h6 class="card-text small">Status: {{ race.get_status_display }}</h6>
                            
                            <a href="{% url 'race-entries' race.pk %}"
                                class="btn btn-sm btn-outline-secondary ">
                                Race Tally
                            </a>
                            <a href="{% url 'select-result-set' race.id %}"
                                class="btn btn-sm btn-outline-primary">
                                Race Results
                            </a>
                            {% if race.has_events %}
                                <a href="{% url 'race-live' race.id %}" class="btn btn-sm btn-success">
                                    Live Timed
                                </a>
                                
                            {% else %}
                                <a href="{% url 'race-live' race.id %}" class="btn btn-sm btn-outline-primary">
                                    Timed Results
                                </a>
                                
                            {% endif %}
                            
                        </div>
                    </div>
                    
                
            {% empty %}
               
                    <div colspan="5" class="text-center text-muted">
                        No races yet
                    </div>
                
            {% endfor %}

    </div>
    </div>
 


{% endblock %}
